div(class='banner')
    div(id='banner_logo_container')
        img(src='images/mwlogo.png' id = "mwlogo")
        div(id='banner_icon_container')
            div(class='icon')
                &nbsp;
            div(class='icon')
                &nbsp;
            div(class='icon')
                &nbsp;


div(class="container")
    div(class="row")

        div(class='col-md-3 col-sm-4 col-xs-6 photo_cont' ng-repeat = 'item in profiles')
            div(class='ac_photo_cont')
                img(ng-src = '{{item.profilePic}}' class = 'photo')
                div(class='photo_info_container')
                    div(class='author_container')
                        div(class='author_icon')
                            p {{item.handle}}
                div(class='photo_info')


    


    

