div(ng-init='init()')

    div(class = 'container')
        div(class = 'row')
            
            div(ng-repeat='profile in profiles | limitTo: 15')
                flippy(class = "col-md-4 col-sm-6 col-xs-12" flip="['click']", flip-back="['click']", duration="1000", timing-function="ease-in-out")
                    flippy-front
                        img(ng-src='{{profile.pic}}', class='photo')
                    flippy-back
                        <h1>Hey</h1>
                        <p>A Battle for your soullll</p>

