
div(ng-controller='mainController')
    div(id='banner')
        div(id='banner_info')
            img(src='images/mwlogo.png', id='logo')
            h3 Weekly handcrafted stories proving #MercedWorks
            img(id='tshirt', src='images/tshirt.png', ng-click='showEmailField()')
            div(id='email-input', ng-show='shouldShowEmailField', class='email-show-hide')
                h4 Reserve Your Shirt Today!
                img(src = "images/icons/email_confirm.png", class="email_icon")
                input(id='email', type='text', name='email', placeholder='Your Email Here..', ng-model='emailValue')
                button(id='email-button', ng-click='emailButtonPressed()') Submit
            div(id='icon_container')
                a(href='https://www.facebook.com/mercedworks/?fref=ts')
                    img(src='images/icons/facebook.png', class='icon')
                a(href='https://www.instagram.com/mercedworks/')
                    img(src='images/icons/instagram.png', class='icon')
                a(href='https://twitter.com/mercedworks')
                    img(src='images/icons/twitter.png', class='icon')
            img(src='images/icons/arrow.png', class='arrow floating', ng-click='scrollToProfiles()')
    div(id='pic_container')
        div(id='pic_holder')
            div(id='pic_rows', ng-repeat='profile in profiles')
                a(href="{{'#/profiles/' + profile._id}}")
                    img(ng-src='{{profile.pic}}', class='portrait')
                h2(class='name') {{profile.firstName + ' ' + profile.lastName}}
                h3(class='job') {{profile.occupation}}
                