
div(id='banner_blurry')
    div(id='profile_container', ng-controller='profileController')
        a(id='back', href='#/', class='stretchLeft') x
        div(id='day_container' class='container')
            div(class='row')
                div(class='{{introTabClass}}', id='intro', ng-click='tabPressed(0)')
                    img(ng-src='{{introPicPath}}')
                    h4 Intro
                div(class='{{workTabClass}}', id='work', ng-click='tabPressed(1)')
                    img(ng-src='{{workPicPath}}')
                    h4 Work
                div(class='{{plansTabClass}}', id='plans', ng-click='tabPressed(2)')
                    img(ng-src='{{plansPicPath}}')
                    h4 Plans
        div(class='row')
            div(class='col-md-6')
                img(ng-src='{{picUrl}}' class='portrait')
            div(class='col-md-6')
                img(src='images/mwlogo.png', class='profile_logo')
                h1 {{profile.firstName + ' ' + profile.lastName}}
                h1 {{profile.occupation + ' at ' + profile.business}}
                h4 {{text}}
