
div(id='banner_blurry')
    div(id='profile_container', ng-controller='profileController')
        a(id='back', href='#/', class='stretchLeft') x
        div(id = 'day_container' class = "container")
            div(class = "row")
                div(class="col-xs-4 day", id='intro', ng-click='introPressed()')
                    img(src="images/icons/people.png")
                    h4 Intro
                div(class='col-xs-4 day', id='work', ng-click='workPressed()')
                    img(src='images/icons/work.png')
                    h4 Work
                div(class = 'col-xs-4 day', id="plans", ng-click='plansPressed()')
                    img(src='images/icons/plans.png')
                    h4 Plans
        div(class='row')
            div(class='col-md-6')
                img(ng-src="{{picUrl}}" class="portrait")
            div(class='col-md-6')
                img(src='images/mwlogo.png', class='profile_logo')
                h1 {{profile.firstName + ' ' + profile.lastName}}
                h1 {{profile.occupation + ' at ' + profile.business}}
                h4 {{text}}
