@icon_back: #8e44ad;

*{
	margin: 0;
	padding: 0;
}

body{

}

.banner{
	background: url('../images/mwbanner.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 225px;
	#banner_logo_container{
		//border: 2px solid white;
		width: 250px;
		height: inherit;
		display: block;
		margin: auto;
		text-align: center;
		#mwlogo{
			height: 150px;
			width: 140px;
			margin-top: 15px;
		}
	}
	#banner_icon_container{
		.icon{
			background: @icon_back;
			height: 30px;
			width: 30px;
			margin: 15px 10px 20px 10px;
			display: inline-block;
			border-radius: 9999px;
		}
	}
}

.container{
	width: 100%;
	.row{
		//border: 2px solid black;
		.photo_cont{
			//border: 1px solid black;
			margin: 10px 0 10px 0;
			padding: 0;
			.ac_photo_cont{
				border: 1.5px solid black;
				width: 95%;
				display: block;
				margin: 0 auto;
				.photo{
					background: #666666;
					height: 250px;
					width: 95%;
					display: block;
					margin: 5px auto 5px auto;
				}
				.photo_info_container{
					.author_container{
						//border: 1px solid black;
						width: 125px;
						.author_icon{
							background: @icon_back;
							width: 25px;
							height: 25px;
							border-radius: 9999px;
							margin: 8px;
							p{
								//border: 2px solid black;
								padding: 4px;
								width: 80px;
								margin-left: 25px;
								font-size: 12px;
							}
						}
					}
					.photo_info{

					}
				}
			}
		}


		.article_cont{
			//border: 1px solid black;
			margin:10px 0 10px 0;
			padding:0;
			.ac_article_cont{
				border: 1.5px solid black;
				width: 98%;
				display: block;
				margin: 0 auto;
				.article_photo{
					background: #666666;
					height: 200px;
					width: 97%;
					display: block;
					margin: 5px auto 5px auto;
				}
				.photo_info_container{
					.author_container{
						//border:1px solid black;
						width: 125px;
						.author_icon{
							background: @icon_back;
							width:25px;
							height: 25px;
							border-radius: 9999px;
							margin: 8px 10px 8px 10px;
						}
					}
				}
			}
		}
	}
}

.footer{
	height: 50px;
	background: #00000F;
}

@media screen and (max-width: 500px){
	.container{
		.row{
			.photo_cont{
				.ac_photo_cont{
					height: 225px;
					.photo{
						height: 180px;
					}
					.photo_info_container{
						.author_container{
							.author_icon{
								margin: 0 10px 0 10px;
							}
						}
					}
				}
			}
		}
	}
}