@icon_back: #8e44ad;

*{
	margin: 0;
	padding: 0;
}

body{
}

.banner{
	background: url('../images/mwbanner.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 235px;
	#banner_logo_container{
		//border: 2px solid white;
		width: 250px;
		height: inherit;
		display: block;
		margin: auto;
		text-align: center;
		#mwlogo{
			height: 150px;
			width: 140px;
			margin-top: 15px;
		}
	}
	#banner_icon_container{
		.icon{
			background: @icon_back;
			height: 30px;
			width: 30px;
			margin: 25px 10px 20px 10px;
			display: inline-block;
			border-radius: 9999px;
		}
	}
}

.container{
	width: 100%;
	.row{
		//border: 2px solid black;
		.photo_cont{
			a{
				text-decoration: none;
				color: black;
			}
			//border: 1px solid black;
			margin: 10px 0 10px 0;
			padding: 0;
			.ac_photo_cont{
				border: 1.5px solid black;
				width: 95%;
				display: block;
				margin: 0 auto;
				overflow: hidden;
				background: white;
				.photo{
					background: #666666;
					width: 95%;
					display: block;
					margin: 5px auto 5px auto;
				}
				.photo_info_container{
					.author_container{
						//border: 1px solid black;
						overflow:hidden;
						width: 100%;
						.author_icon{
							background: @icon_back;
							width: 25px;
							height: 25px;
							border-radius: 9999px;
							margin: 8px 2px 8px 8px;
						}
						p{
								//border: 2px solid black;
								display: inline;
								margin: 0;
								padding: 0;
								font-size: 12px;
						}
						.type_icon{
							
						}
					}
				}
				.photo_info{
						border: 2px solid black;
						width: 30px;
					}
			}
		}


		.article_cont{
			//border: 1px solid black;
			margin:10px 0 10px 0;
			padding: 35px 0 25px;
			//height: 300px;
			.ac_article_cont{
				border: 1.5px solid black;
				width: 98%;
				display: block;
				margin: 0 auto;
				background: white;
				.row{
					.at_pic_cont{
						//border: 1px solid black;
						margin: 5px;
						.at_pic{
							//border: 1px solid black;
							margin: 0;
							padding: 0;
							.article_pic{
								padding: 0;
								width: 100%;
							}
						}
					}
				}
				.photo_info_container{
					.author_container{
						//border:1px solid black;
						width: 125px;
						.author_icon{
							background: @icon_back;
							width:25px;
							height: 25px;
							border-radius: 9999px;
							margin: 10px -8px;
						} 
					}
				}
			}
		}
	}
}

.footer{
	height: 50px;
	background: #00000F;
}

@media screen and (max-width: 500px){
	.container{
		.row{
			.photo_cont{
				.ac_photo_cont{
					height: 225px;
					.photo{
						height: 180px;
					}
					.photo_info_container{
						.author_container{
							.author_icon{
								margin: 0 10px 0 10px;
							}
						}
					}
				}
			}
			.article_cont{
				padding: 0;
			}
		}
	}
}

@media screen and (max-width: 595px){
	.container{
		.row{
			.photo_cont{
				.photo_info_container{
					.author_container{
						.capt{
							visibility: hidden;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 975px){
	.container{
		.row{
			.article_cont{
				padding: 0;
			}
		}
	}
}

@media screen and (min-width 1552px){
	.container{
		.row{
			.article_cont{
				border: 2px solid black;
				background: blue;
			}
		}
	}
}


