* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
html,
body {
  height: 100%;
  position: relative;
}
.container {
  width: 100%;
}
.container .row flippy {
  position: relative;
  height: 455px;
  display: block;
  margin: 5px 0;
}
.container .row flippy flippy-front,
.container .row flippy flippy-back {
  background: white;
  padding: 8px 0 15px 0;
  border: 2px solid white;
  height: 445px;
  width: 95%;
}
.container .row flippy flippy-front .photo,
.container .row flippy flippy-back .photo {
  width: 98%;
  height: 375px;
  display: block;
  margin: 0 auto;
}
.container .row flippy flippy-front .info_container .author_container,
.container .row flippy flippy-back .info_container .author_container {
  display: inline-block;
  width: 200px;
}
.container .row flippy flippy-front .info_container .author_container p,
.container .row flippy flippy-back .info_container .author_container p {
  display: inline;
}
.container .row flippy flippy-front .info_container .author_container .author_icon,
.container .row flippy flippy-back .info_container .author_container .author_icon {
  display: inline;
  height: 40px;
  width: 40px;
  border-radius: 9999px;
  margin: 10px 2px 10px 10px;
}
.container .row flippy flippy-front .cap_container .cap_detail_container,
.container .row flippy flippy-back .cap_container .cap_detail_container {
  margin: 0;
  padding: 5px;
}
.container .row flippy flippy-front .cap_container .cap_detail_container .author_icon,
.container .row flippy flippy-back .cap_container .cap_detail_container .author_icon {
  height: 50px;
  width: 50px;
  display: inline;
  border-radius: 99999px;
}
.container .row flippy flippy-front .cap_container .cap_detail_container p,
.container .row flippy flippy-back .cap_container .cap_detail_container p {
  width: 50%;
  display: inline;
  margin-left: -5px;
}
.container .row flippy flippy-front .cap_container p,
.container .row flippy flippy-back .cap_container p {
  font-size: 17px;
  padding: 10px;
  width: 80%;
  display: block;
  margin: 0 auto;
}
.container .row flippy flippy-front .cap_info_container,
.container .row flippy flippy-back .cap_info_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.container .row flippy flippy-front .cap_info_container p,
.container .row flippy flippy-back .cap_info_container p {
  font-size: 16px;
  display: inline;
}
.container .row flippy flippy-front .cap_info_container .like_container,
.container .row flippy flippy-back .cap_info_container .like_container {
  float: right;
  margin-right: 10px;
  padding-top: -10px;
}
.container .row flippy flippy-front .cap_info_container .like_container p,
.container .row flippy flippy-back .cap_info_container .like_container p {
  margin-right: 5px;
  font-size: 16px;
}
.container .row flippy flippy-front .cap_info_container .like_container .like_icon,
.container .row flippy flippy-back .cap_info_container .like_container .like_icon {
  height: 25px;
  width: 30px;
}
@media screen and (max-width: 767px) {
  .container .row flippy {
    height: 500px;
  }
  .container .row flippy flippy-front,
  .container .row flippy flippy-back {
    height: 485px;
  }
  .container .row flippy flippy-front .photo,
  .container .row flippy flippy-back .photo {
    height: 415px;
  }
}
@media screen and (min-width: 1366px) {
  .container .row flippy {
    height: 595px;
  }
  .container .row flippy flippy-front,
  .container .row flippy flippy-back {
    height: 585px;
  }
  .container .row flippy flippy-front .photo,
  .container .row flippy flippy-back .photo {
    height: 515px;
  }
  .container .row flippy flippy-front .cap_container p,
  .container .row flippy flippy-back .cap_container p {
    font-size: 25px;
  }
}
