* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
html,
body {
  height: 100%;
  position: relative;
}
.container {
  width: 100%;
}
.container .row flippy {
  cursor: pointer;
  height: 455px;
  display: block;
  margin: 5px 0;
}
.container .row flippy flippy-front,
.container .row flippy flippy-back {
  background: white;
  padding: 8px 0 15px 0;
  border: 2px solid white;
  height: 445px;
  width: 95%;
}
.container .row flippy flippy-front .photo,
.container .row flippy flippy-back .photo {
  width: 98%;
  height: 375px;
  display: block;
  margin: 0 auto;
}
.container .row flippy flippy-front .info,
.container .row flippy flippy-back .info {
  border: 2px solid black;
  height: 55px;
  background: blue;
}
@media screen and (max-width: 767px) {
  .container .row flippy {
    height: 500px;
  }
  .container .row flippy flippy-front,
  .container .row flippy flippy-back {
    height: 475px;
  }
  .container .row flippy flippy-front .photo,
  .container .row flippy flippy-back .photo {
    height: 415px;
  }
}
