body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#button-container {
    margin: auto;
    width: auto;
    text-align: center;
}

#login-button {
    background-color: slategrey;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 20px;
    border-radius: 2px;
}

#got-token-text {
    color: slategray;
    font-size: 20px;
}

#tshirt {
    width: 150px;
    height: 150px;
    background-color: green;
    margin: 50px;
}
